<div class="row">
  <h1 class="page-header">
    NVD3 Directives
  </h1>

  <ul>
    <li>
  	<nvd3-line-chart
        data="exampleData"
        showXAxis="true"
        showYAxis="true"
        tooltips="true"
        interactive="true">
    </nvd3-line-chart>
  </li>
  <li>

    <nvd3-stacked-area-chart
	    data="exampleData"
	    showXAxis="true"
	    showYAxis="true"
	    xAxisTickFormat="xAxisTickFormat()">
	  </nvd3-stacked-area-chart>
</li>
</ul>

</div>

